<div class="container">
    <div class="row">
        <div class="col" ><span style="font-size: 38px;">View Activity</span></div>

        
        <div class="col logoutArea"><a id="dashboard" href="/dashboard/@ViewBag.userId">Dashboard</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="logout" href="/logout">Logout</a></div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
<h2>@ViewBag.Title</h2>
<p><strong>Event Coordinator:</strong> @ViewBag.OwnerName</p>
<p><strong>Description:</strong> @ViewBag.Desc</p>
<p><strong>Participants:</strong> 
    @foreach(var party in @ViewBag.Participants){
        <p>@party.User.FirstName @party.User.LastName</p>
    }
</p>
@{
            @if(@ViewBag.OwnerId == @ViewBag.userId)
            {
                <form asp-controller="Home" asp-action="deleteActivity" asp-route-id="@ViewBag.ActivityId" method="post"><button class="btn btn-danger">Delete Activity</button></form>
            }
            else
            {
                bool attending = true;
                @foreach (var participant in @ViewBag.Participants)
                {
                    if (participant.UserId == @ViewBag.userId)
                    {
                        <form asp-controller="Home" asp-action="unAttend" asp-route-id="@participant.UserId" method="post">
                        <button class="btn btn-warning">Un-Attend</button>
                        </form>
                        attending = false;
                        break;
                    }
                }
                @if (attending)
                {
                    <form asp-controller="Home" asp-action="attend" asp-route-id="@ViewBag.ActivityId" method="post">
                        <button class="btn btn-success">Attend</button>
                    </form>
                }
            }

}
</div>
</div>